<a href="https://colab.research.google.com/github/FxMathSolution/PortAI/blob/main/NewVersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ls

drive/  EURUSD-H1.zip  sample_data/

In [ ]:
!unzip 'EURUSD-H1.zip'

Archive:  EURUSD-H1.zip
  inflating: EURUSD-H1.csv
  inflating: EURUSD-M1.csv

In [ ]:
import pandas as pd
df1=pd.read_csv('EURUSD-M1.csv',header=None,index_col=False)
df60=pd.read_csv('EURUSD-H1.csv',header=None,index_col=False)
df60.columns=['date','time','open','high','low','close','volume']
df1.columns=['date','time','open','high','low','close','volume']
df60.head()

         date   time     open     high      low    close  volume
0  2017.01.01  22:00  1.05148  1.05238  1.05148  1.05177     177
1  2017.01.01  23:00  1.05179  1.05288  1.05178  1.05230     213
2  2017.01.02  00:00  1.05230  1.05260  1.05194  1.05206     127
3  2017.01.02  01:00  1.05206  1.05247  1.05196  1.05221     244
4  2017.01.02  02:00  1.05221  1.05221  1.05155  1.05168     352

In [ ]:
df60['date']=df60['date']+" "+df60['time']
df60=df60.drop(columns=['time'])
df1['date']=df1['date']+" "+df1['time']
df1=df1.drop(columns=['time'])

In [14]:
window=12
digit=10000
sl=70
tp=100

In [20]:
def findIndex(dDate):
  return df1.index[df1['date'] == dDate].tolist()

def calSLTP(hdf):
  hi=hdf['high'].max()
  lo=hdf['low'].min()
  ihi=hdf.index[hdf['high'] == hdf['high'].max()].tolist()[0]
  ilo=hdf.index[hdf['low'] == hdf['low'].min()].tolist()[0]
  hi=(hi-hdf['open'].iloc[0])*digit
  lo=(lo-hdf['open'].iloc[0])*digit
  if abs(hi)>abs(lo) and ihi<ilo and abs(lo)<sl: return([lo/tp,hi/tp])
  elif abs(hi)<abs(lo) and ihi>ilo and abs(hi)<sl: return([hi/tp,lo/tp])
  elif abs(hi)>abs(lo) and ihi>ilo: return([hi/tp,lo/tp])
  elif abs(hi)<abs(lo) and ihi<ilo: return([lo/tp,hi/tp])
  else: return [0,0]

In [21]:
alow=[]
ahigh=[]
for x in range(100,220):
  adf=df60[x:x+window]
  sInd=findIndex(adf['date'].iloc[0])
  if sInd!=[]: sInd=sInd[0]
  else: continue
  eInd=sInd+(window*60) 
  q=calSLTP(df1[sInd:eInd])
  print(q)

#print(min(alow),max(ahigh))

[-0.4439999999999999, 0.38299999999999995]
[-0.5170000000000119, 0.34899999999999937]
[-0.5300000000000082, 0.3360000000000029]
[-0.44800000000000395, 0.4180000000000072]
[-0.4699999999999926, 0.39600000000001856]
[-0.5380000000000162, 0.43100000000000366]
[-0.5910000000000082, 0.38000000000000256]
[-0.6850000000000023, 0.28600000000000847]
[-0.7570000000000077, 0.21400000000000308]
[-0.8099999999999996, 0.16100000000001113]
[-0.6089999999999929, 0.36200000000001786]
[-0.5749999999999922, 0.42200000000001125]
[-0.21799999999998487, 0.38500000000001305]
[-0.35799999999999166, 0.24500000000000632]
[-0.5079999999999973, 0.09299999999998754]
[-0.3619999999999956, 0.031999999999987594]
[-0.32999999999998586, 0.02300000000001745]
[-0.09299999999998754, 0.18600000000001948]
[-0.14899999999999913, 0.1300000000000079]
[0.21400000000000308, -0.17899999999999583]
[-0.15099999999999003, 0.2590000000000092]
[-0.21199999999998997, 0.23800000000000487]
[-0.18499999999999073, 0.2650000000000041]
[-0.24299999999999322, 0.20700000000000163]
[-0.31200000000000117, 0.13799999999999368]
[-0.21499999999998742, 0.23500000000000743]
[0.3399999999999848, -0.19000000000000128]
[0.5650000000000155, -0.15399999999998748]
[0.5900000000000016, -0.12900000000000134]
[0.49900000000000505, -0.21999999999999797]
[0.4550000000000054, -0.26399999999999757]
[0.34800000000001496, -0.370999999999988]
[0.5850000000000133, -0.13399999999998968]
[0.7009999999999961, -0.05699999999999594]
[0.6480000000000041, -0.11699999999998933]
[0.7759999999999989, -0.09200000000000319]
[0.6460000000000133, -0.10099999999999554]
[0.8119999999999905, -0.02300000000001745]
[0.7200000000000095, -0.0070000000000014495]
[0.5200000000000093, -0.17499999999999183]
[0.5650000000000155, -0.12999999999998568]
[0.6320000000000103, -0.06299999999999084]
[0.49000000000001265, -0.20499999999998852]
[0.5840000000000067, -0.01900000000001345]
[0.5440000000000111, -0.022999999999995246]
[0.4320000000000101, -0.08399999999999519]
[0.41400000000000325, -0.10200000000000209]
[-0.2769999999999939, 0.3720000000000168]
[-0.20200000000001328, 0.48500000000000215]
[-0.4839999999999955, 0.20300000000001983]
[-0.5700000000000038, 0.046999999999997044]
[-0.4970000000000141, 0.11999999999998678]
[-0.5849999999999911, 0.10799999999999699]
[-0.44299999999999345, 0.24999999999999467]
[-0.46899999999998615, 0.22400000000000198]
[-0.5290000000000017, 0.027999999999983594]
[-0.4559999999999897, 0.08099999999999774]
[-0.40399999999998215, 0.13300000000000534]
[-0.2729999999999899, 0.26399999999999757]
[-0.17799999999998928, 0.3589999999999982]
[-0.2520000000000078, 0.29799999999999827]
[-0.5290000000000017, 0.06800000000000139]
[-0.5719999999999947, 0.046999999999997044]
[-0.3560000000000008, 0.03500000000000725]
[-0.24800000000000377, 0.048000000000003595]
[0.08200000000000429, -0.22400000000000198]
[0.08799999999999919, -0.21800000000000708]
[0.0500000000000167, -0.25599999999998957]
[-0.24599999999999067, 0.12000000000000899]
[-0.40399999999998215, 0.10400000000001519]
[-0.38899999999999496, 0.14600000000000168]
[-0.5800000000000027, 0.08900000000000574]
[-0.6399999999999961, 0.08799999999999919]
[-0.6829999999999892, 0.20600000000001728]
[-0.9170000000000122, 0.21299999999999653]
[-0.9649999999999936, 0.16500000000001513]
[0.22899999999999032, -0.9610000000000118]
[0.6049999999999889, -1.0860000000000092]
[0.6489999999999884, -1.0420000000000096]
[0.649999999999995, -1.041000000000003]
[0.8769999999999945, -0.8140000000000036]
[1.0070000000000023, -0.6839999999999958]
[1.03899999999999, -0.6520000000000081]
[1.2110000000000065, -0.47999999999999154]
[1.0990000000000055, -0.5919999999999925]
[1.4170000000000016, -0.27399999999999647]
[1.4859999999999873, -0.16100000000001113]
[1.2329999999999952, -0.266999999999995]
[0.6450000000000067, -0.03799999999998249]
[0.3500000000000058, -0.3909999999999858]
[0.6650000000000046, -0.11999999999998678]
[0.91699999999999, -0.01500000000000945]
[0.8219999999999894, -0.11000000000001009]
[0.8070000000000022, -0.12499999999999734]
[0.7039999999999935, -0.22800000000000598]
[1.0299999999999976, -0.060000000000015596]
[1.0099999999999998, -0.009999999999998899]
[0.859999999999994, -0.048000000000003595]
[0.7349999999999968, -0.16300000000000203]
[0.8490000000000109, -0.04899999999998794]
[0.7340000000000124, -0.06399999999999739]
[0.4699999999999926, -0.17900000000001803]
[0.5530000000000035, -0.09600000000000719]
[-0.3250000000000198, 0.4159999999999941]
[-0.3030000000000088, 0.4380000000000051]
[-0.275000000000003, 0.4660000000000109]
[-0.4580000000000028, 0.3249999999999975]
[-0.6990000000000052, 0.0760000000000094]
[-0.47600000000000975, 0.23199999999998777]
[-0.550000000000006, 0.16999999999998128]
[-0.4890000000000061, 0.16099999999998893]
[-0.6170000000000009, 0.032999999999994145]
[-0.44899999999998824, 0.031000000000003247]
[-0.378999999999996, 0.009999999999998899]
[0.14399999999998858, -0.22699999999999942]
[0.20199999999999108, -0.19599999999999618]
[0.38800000000001056, -0.08399999999999519]
[0.41999999999999815, -0.08399999999999519]
[0.4180000000000072, -0.12099999999999334]
[0.49099999999999694, -0.05699999999999594]

In [ ]:
print(len(df60))

35417

In [ ]:
a=df1.index[df1['date'] == '2017.01.06 02:00'].tolist()[0]
print(a)
a+=60
print(df1[a:a+1])
print(df1['open'][0])

5885
                  date     open     high      low    close  volume
5945  2017.01.06 03:00  1.05872  1.05872  1.05865  1.05866      70
1.05148

In [ ]:
a=df1[50:100]
print(a['high'].max())
print(a['low'].min())
print(a.index[a['high'] == a['high'].max()].tolist()[0])
print(a.index[a['low'] == a['low'].min()].tolist()[0])
print(a['open'][0:1])
a.head()

1.05288
1.05199
52
92
50    1.05251
Name: open, dtype: float64

                date     open     high      low    close  volume
50  2017.01.01 23:09  1.05251  1.05266  1.05232  1.05232      13
51  2017.01.01 23:11  1.05257  1.05280  1.05242  1.05280      10
52  2017.01.01 23:12  1.05280  1.05288  1.05261  1.05288       9
53  2017.01.01 23:13  1.05288  1.05288  1.05245  1.05245       4
54  2017.01.01 23:15  1.05243  1.05243  1.05243  1.05243       1

In [ ]:

df1.head()

               date     open     high      low    close  volume
0  2017.01.01 22:00  1.05148  1.05153  1.05148  1.05153       3
1  2017.01.01 22:01  1.05153  1.05153  1.05153  1.05153       2
2  2017.01.01 22:02  1.05170  1.05175  1.05170  1.05175       9
3  2017.01.01 22:03  1.05174  1.05175  1.05174  1.05175       2
4  2017.01.01 22:08  1.05170  1.05170  1.05170  1.05170       6